/*------------------------------------------------------------------
* Project:        Fregistax - Worldwide Shipping and Professional Solutions
* Author:         Evonicmedia
* URL:            https://themeforest.net/user/evonicmedia/portfolio
* Created:        08/19/2024
-------------------------------------------------------------------*/

/* import font family == Poppins == */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap');
/* import font family == Akshar == */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&amp;display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
/* =====  01. Reset  ====== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin: 0;
    
}

.borderb{
    border-bottom: 1px solid white;
}

body {
    font-family: "Outfit", sans-serif;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockQuote,
q {
    Quotes: none;
}

blockQuote:before,
blockQuote:after,
q:before,
q:after {
    content: "";
}

button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    border: 1px solid #F1F1F1;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0px 0px 0px 1000px #FFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

select::-ms-expand {
    display: none;
}

label {
    font-weight: normal;
}

iframe {
    width: 100%;
}

/* =====  End of 01. Reset  ====== */
/* ===== 02. Global Style ===== */
h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Outfit", sans-serif;
}



h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
     font-family: "Outfit", sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
     font-family: "Outfit", sans-serif;
}

h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    font-family: "Outfit", sans-serif;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: "Outfit", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    font-family: "Outfit", sans-serif;
}

p {
    font-size: 19px;
    line-height: 1.3;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    color: white;
}

button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
}

a {
    font-size: 18px;
    line-height: 24px;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
}

.hover1 {
    display: inline-block;
    color: #FFF;
    background-color: #004AAD;
    padding: 15px 30px;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
}

.hover1:hover {
    background-color: #FFCD06 !important;
    color: #3E3F41 !important;
}

.hover2 {
    display: inline-block;
    color: #3E3F41;
    background-color: #FFCD06;
    padding: 15px 30px;
    border-radius: 8px;
}

.hover2:hover {
    background-color: #1141BE !important;
    color: #FFF !important;
    transition: all 0.3s ease;
}

/* form validation massage */
.modal-content {
    background: #F1F1F1;
    padding: 40px;
}

.modal-content img {
    margin: auto;
}

.modal-content div {
    padding: 40px 0px;
    width: 350px;
    margin: auto;
}

.modal-content h3,
.modal-content h6 {
    margin: auto;
    text-align: center;
}

.modal-content h6 {
    margin: 15px auto;
}

.modal .hover1 {
    width: 100px;
    padding: 12px 24px;
    border: none;
}

/* Scroll To Top Button */
.scrollToTop {
    display: none;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c6c5c5;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.scrollToTop .arrowUp {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 24px;
}

.scrollToTop .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D6DE3;
    transition: all 0.3s;
}

.scrollToTop .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}

.scrollToTop .water_wave_back {
    right: 0;
    fill: #C7EEFF;
    animation: wave-back 1.4s infinite linear;
}

.scrollToTop .water_wave_front {
    left: 0;
    fill: #4D6DE3;
    margin-bottom: -1px;
    animation: wave-front 0.7s infinite linear;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#preloader .position-relative {
    width: 150px;
    height: 150px;
}

#preloader .spinner {
    position: absolute;
    border: 3px solid #FFF;
    border-top: 3px solid #1141BE;
    border-bottom: 3px solid #1141BE;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

#preloader img {
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-wrapper {
    visibility: hidden;
    overflow-y: hidden;
    height: 0;
}

@keyframes wave-front {
    100% {
        transform: translateX(-50%);
    }
}

@keyframes wave-back {
    100% {
        transform: translateX(50%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 52px;
        line-height: 60px;
    }

    h2 {
        font-size: 36px;
        line-height: 39px;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 16px;
        line-height: 24px;
    }

    h6 {
        font-size: 14px;
        line-height: 21px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    a,
    input {
        font-size: 16px;
    }

    .scrollToTop {
        bottom: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
    }

    .scrollToTop i {
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 26px;
        line-height: 30px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    h4 {
        font-size: 16px;
        line-height: 22px;
    }

    h5 {
        font-size: 12px;
        line-height: 16px;
    }

    h6 {
        font-size: 12px;
        line-height: 20px;
    }

    p {
        font-size: 12px;
        line-height: 16px;
    }

    a {
        font-size: 14px;
    }

    .modal-content div {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 38px;
        line-height: 45px;
    }
}

/* ===== End of 02. Global Style ===== */